@charset "utf-8";


section article {
padding : 1rem	;
	margin : 1rem;
}

section article p{ 
	margin      : 0.5rem;
	text-indent : 3rem;
}


  
   body {
   background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(168,0,0,0.8631653344931722) 100%);
   font-size: 1em;
   text-shadow : 0.5px 0.5px 0.5px;
   color : white;
   } 


